# ignore everything
*

# but allow directories so Git can recurse
!*/

# whitelist your source trees
!/lib/
!/lib/**

# whitelist pubspecs and .gitignore itself
!/pubspec.yaml
!/pubspec.lock
!/.gitignore
