# 1. Ignore everything...
*

# 2. But do NOT ignore these specific files and directories:
!/.gitignore       # so Git keeps this file itself
!/pubspec.yaml
!/pubspec.lock
!/lib/              # allow the lib folder
!/lib/**/*           # allow all files under lib/
